@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}


<div class="showtime1" style="overflow-y:auto">

    <h2>Questions </h2>

    <form>
        @foreach (var x in Model)
        {
            <div class="row">
                <h3>Qestion @x.Id:&nbsp;@x.Question</h3><br>
                <input type="radio" name="ans" style="width:25px" value="4">4&nbsp;&nbsp;&nbsp;
                <input type="radio" name="ans" style="width:25px" value="3">3&nbsp;&nbsp;&nbsp;
                <input type="radio" name="ans" style="width:25px" value="2">2&nbsp;&nbsp;&nbsp;
                <input type="radio" name="ans" style="width:25px" value="1">1&nbsp;&nbsp;&nbsp;

            </div>

        }
        <>
        <br />
        <button type="submit" class="btn btn-default ">Submit</button>
    </form>


</div>
